CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq50xx=y
CONFIG_TARGET_DEVICE_qualcommax_ipq50xx_DEVICE_cambiumnetworks_xv2-21x=y
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq50xx_DEVICE_cambiumnetworks_xv2-21x="luci luci-ssl openwisp-config openwisp-monitoring openvpn-mbedtls -wpad-basic-mbedtls wpad-mbedtls usteer hostapd-utils irqbalance lldpd ethtool tcpdump iperf3 ip-bridge wireguard-tools kmod-wireguard strace curl ath11k-firmware-ipq5018-qcn6122 kmod-gpio-button-hotplug kmod-leds-gpio"
CONFIG_TARGET_DEVICE_qualcommax_ipq50xx_DEVICE_cambiumnetworks_cheetah-recovery=y
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq50xx_DEVICE_cambiumnetworks_cheetah-recovery="ethtool ath11k-firmware-ipq5018-qcn6122 curl kmod-gpio-button-hotplug kmod-leds-gpio"
