CONFIG_TARGET_ath79=y
CONFIG_TARGET_ath79_nand=y
CONFIG_TARGET_DEVICE_ath79_nand_DEVICE_cambiumnetworks_e400-recovery=y
CONFIG_TARGET_DEVICE_ath79_nand_DEVICE_cambiumnetworks_gambit-installer=y
CONFIG_TARGET_DEVICE_ath79_nand_DEVICE_cambiumnetworks_gambit-persistent=y
CONFIG_TARGET_DEVICE_PACKAGES_ath79_nand_DEVICE_cambiumnetworks_gambit-persistent="luci luci-ssl openwisp-config openwisp-monitoring openvpn-mbedtls -wpad-basic-mbedtls wpad-mbedtls usteer hostapd-utils irqbalance lldpd ethtool tcpdump iperf3 ip-bridge wireguard-tools kmod-wireguard kmod-gpio-button-hotplug kmod-leds-gpio"
