CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_cambiumnetworks_jaguar-persistent=y
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq60xx_DEVICE_cambiumnetworks_jaguar-persistent="luci luci-ssl openwisp-config openwisp-monitoring openvpn-mbedtls -wpad-basic-mbedtls wpad-mbedtls usteer hostapd-utils irqbalance lldpd ethtool tcpdump iperf3 ip-bridge wireguard-tools kmod-wireguard iw ubi-utils kmod-gpio-button-hotplug kmod-leds-gpio"
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_cambiumnetworks_jaguar-recovery=y
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq60xx_DEVICE_cambiumnetworks_jaguar-recovery="ethtool kmod-gpio-button-hotplug kmod-leds-gpio"
