CONFIG_TARGET_qualcommbe=y
CONFIG_TARGET_qualcommbe_ipq53xx=y
CONFIG_TARGET_DEVICE_qualcommbe_ipq53xx_DEVICE_cambiumnetworks_miami-persistent=y
CONFIG_TARGET_DEVICE_PACKAGES_qualcommbe_ipq53xx_DEVICE_cambiumnetworks_miami-persistent="luci luci-ssl openwisp-config openwisp-monitoring openvpn-mbedtls -wpad-basic-mbedtls wpad-mbedtls usteer hostapd-utils irqbalance lldpd ethtool tcpdump iperf3 ip-bridge wireguard-tools kmod-wireguard iw ubi-utils strace curl kmod-gpio-button-hotplug kmod-leds-gpio"
CONFIG_TARGET_DEVICE_qualcommbe_ipq53xx_DEVICE_cambiumnetworks_miami-recovery=y
CONFIG_TARGET_DEVICE_PACKAGES_qualcommbe_ipq53xx_DEVICE_cambiumnetworks_miami-recovery="ethtool curl kmod-gpio-button-hotplug kmod-leds-gpio"
CONFIG_PACKAGE_kmod-ath12k=m
CONFIG_PACKAGE_ath12k-firmware-qcn9274=m
CONFIG_PACKAGE_kmod-qrtr-smd=m
