CONFIG_TARGET_ipq40xx=y
CONFIG_TARGET_ipq40xx_generic=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_cambiumnetworks_sage-persistent=y
CONFIG_TARGET_DEVICE_PACKAGES_ipq40xx_generic_DEVICE_cambiumnetworks_sage-persistent="luci luci-ssl openwisp-config openwisp-monitoring openvpn-mbedtls -wpad-basic-mbedtls wpad-mbedtls usteer hostapd-utils irqbalance lldpd ethtool tcpdump iperf3 ip-bridge wireguard-tools kmod-wireguard kmod-gpio-button-hotplug kmod-leds-gpio"
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_cambiumnetworks_sage-recovery=y
CONFIG_TARGET_DEVICE_PACKAGES_ipq40xx_generic_DEVICE_cambiumnetworks_sage-recovery="openwisp-config openwisp-monitoring openvpn-mbedtls ethtool kmod-gpio-button-hotplug kmod-leds-gpio"
