CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq807x=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_cambiumnetworks_thor-persistent=y
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq807x_DEVICE_cambiumnetworks_thor-persistent="luci luci-ssl openwisp-config openwisp-monitoring openvpn-mbedtls -wpad-basic-mbedtls wpad-mbedtls usteer hostapd-utils irqbalance lldpd ethtool tcpdump iperf3 ip-bridge wireguard-tools kmod-wireguard strace curl kmod-gpio-button-hotplug kmod-leds-gpio"
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_cambiumnetworks_thor-scan-test=y
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq807x_DEVICE_cambiumnetworks_thor-scan-test="luci luci-ssl openwisp-config openwisp-monitoring openvpn-mbedtls -wpad-basic-mbedtls wpad-mbedtls usteer hostapd-utils irqbalance lldpd ethtool tcpdump iperf3 ip-bridge wireguard-tools kmod-wireguard strace curl kmod-gpio-button-hotplug kmod-leds-gpio iw"
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_cambiumnetworks_thor-aux-test=y
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq807x_DEVICE_cambiumnetworks_thor-aux-test="luci luci-ssl openwisp-config openwisp-monitoring openvpn-mbedtls -wpad-basic-mbedtls wpad-mbedtls usteer hostapd-utils irqbalance lldpd ethtool tcpdump iperf3 ip-bridge wireguard-tools kmod-wireguard strace curl kmod-gpio-button-hotplug kmod-leds-gpio"
CONFIG_PACKAGE_kmod-ath10k-ct=m
CONFIG_PACKAGE_ath10k-firmware-qca9887-ct=m
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_cambiumnetworks_thor-recovery=y
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq807x_DEVICE_cambiumnetworks_thor-recovery="ethtool ip-full ip-bridge tcpdump kmod-gpio-button-hotplug kmod-leds-gpio"
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_cambiumnetworks_thor-installer=y
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq807x_DEVICE_cambiumnetworks_thor-installer="ethtool ip-full ip-bridge tcpdump kmod-gpio-button-hotplug kmod-leds-gpio"
